{% extends 'dash_base.html' %}
{% block dash_content %}
    <div class="container">
        <div class="row">
            {% include 'sidebar.html' %}

            <div class="col-md-8">
                <h3>Osu <a href="?disable=1" class="btn btn-warning btn-xs">Disable</a></h3>
                {% include 'flash.html' %}
                <center>
                    <p>
                        <h6>Type <strong>!osu maverun</strong> in your chat!</h6>
                    </p>
                </center>
            </div>

        </div>
    </div>

{% endblock %}
