{% extends 'dash_base.html' %}
{% block dash_content %}
    <div class="container">
        <div class="row">
            {% include 'sidebar.html' %}

            <div class="col-md-8">
                <h3>Anime and Manga <a href="?disable=1" class="btn btn-warning btn-xs">Disable</a></h3>
                {% include 'flash.html' %}
                <center>
                <p>
                    <img src={{Info[0]}}>
                    <h1>{{Info[1]}}</h1>
                    <h6>Type <strong>!anime Trigun</strong> and <br /><strong>!manga Berserk</strong> in your chat!</h6>
                </p>
                </center>
            </div>

        </div>
    </div>

{% endblock %}
