{% extends 'full-page.html' %}
{% block content %}
<div class="jumbotron home-jumbotron">
    <div class="container ">
        <div class="row ">
            <div class="col-md-8 col-md-offset-4 animated bounceInUp text-center">
                <h3>OH! Uhm... Hello there... There seem to be a problem...Please try again. If it still happen, please wait for fix (report to owner would be great) </h3>
                <h6>Maverun (´･ω･`)#2781 </h6>
            </div>
        </div>
    </div>
</div>
{% endblock %}
