<!--
  _   _                                                         
 | \ | |                                                        
 |  \| |_   _ _ __ _____   ____ _ _ __ ___                      
 | . ` | | | | '__/ _ \ \ / / _` | '_ ` _ \                     
 | |\  | |_| | | |  __/\ V / (_| | | | | | |                    
 |_| \_|\__,_|_|__\___| \_/ \__,_|_| |_| |_|_   ____        _   
     /\     |  __ \(_)                     | | |  _ \      | |  
    /  \    | |  | |_ ___  ___ ___  _ __ __| | | |_) | ___ | |_ 
   / /\ \   | |  | | / __|/ __/ _ \| '__/ _` | |  _ < / _ \| __|
  / ____ \  | |__| | \__ \ (_| (_) | | | (_| | | |_) | (_) | |_ 
 /_/__  \_\ |_____/|_|___/\___\___/|_|  \__,_| |____/ \___/ \__|
 |  _ \        |  \/  |                                         
 | |_) |_   _  | \  / | __ ___   _____ _ __ _   _ _ __          
 |  _ <| | | | | |\/| |/ _` \ \ / / _ \ '__| | | | '_ \         
 | |_) | |_| | | |  | | (_| |\ V /  __/ |  | |_| | | | |        
 |____/ \__, | |_|  |_|\__,_| \_/ \___|_|   \__,_|_| |_|        
         __/ |                                                  
        |___/                                                   
-->
{% extends 'full-page.html' %}
{% block content %}
<div class="jumbotron home-jumbotron">
    <div class="container ">
        <div class="row ">
            <div class="col-md-8 col-md-offset-4 animated bounceInUp text-center">
                <h3>OH! Uhm... Hello there... There seems to be a problem... Please try again. If it still happens, please wait for me to fix (report to owner would be great) (Error: <strong>500 Internal Server Error</strong>)</h3>
                <h6>Maverun (´･ω･`)#2781 </h6>
            </div>
        </div>
    </div>
</div>
{% endblock %}
