<!--
  _   _                                                         
 | \ | |                                                        
 |  \| |_   _ _ __ _____   ____ _ _ __ ___                      
 | . ` | | | | '__/ _ \ \ / / _` | '_ ` _ \                     
 | |\  | |_| | | |  __/\ V / (_| | | | | | |                    
 |_| \_|\__,_|_|__\___| \_/ \__,_|_| |_| |_|_   ____        _   
     /\     |  __ \(_)                     | | |  _ \      | |  
    /  \    | |  | |_ ___  ___ ___  _ __ __| | | |_) | ___ | |_ 
   / /\ \   | |  | | / __|/ __/ _ \| '__/ _` | |  _ < / _ \| __|
  / ____ \  | |__| | \__ \ (_| (_) | | | (_| | | |_) | (_) | |_ 
 /_/__  \_\ |_____/|_|___/\___\___/|_|  \__,_| |____/ \___/ \__|
 |  _ \        |  \/  |                                         
 | |_) |_   _  | \  / | __ ___   _____ _ __ _   _ _ __          
 |  _ <| | | | | |\/| |/ _` \ \ / / _ \ '__| | | | '_ \         
 | |_) | |_| | | |  | | (_| |\ V /  __/ |  | |_| | | | |        
 |____/ \__, | |_|  |_|\__,_| \_/ \___|_|   \__,_|_| |_|        
         __/ |                                                  
        |___/                                                   
-->
{% extends 'dash_base.html' %}
{% block dash_content %}
<div class="container">
    <div class="row">
        {% include 'sidebar.html' %}
        {% set csrf = csrf_token() %}
        <div class="col-md-8">
            <h3>Levels <a href="?disable=1" class="btn btn-warning btn-xs">Disable</a></h3>
            {% include 'flash.html' %}
            <form id="levels" method="POST" action="{{url_for('level.update_levels', server_id=server['id'])}}">
                <div class="form-group">
                    <input name=_csrf_token type=hidden value="{{ csrf }}">
                    {{template.text_box("announcement","Level UP announcement",data =config["announce_message"])}}
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="enable" {% if config["announce"] =="on" %} checked {% endif %}>
                            Enable/Disable
                        </label>
                        <label>
                            <input type="checkbox" name="whisp" {% if config["whisper"] == "on" %} checked {% endif %}>
                            Whisp only
                        </label>
                    </div>
                    {{template.text_box("cooldown","<strong>!rank</strong> command cooldown","In order to avoid people
                    flooding the <strong>!rank</strong> command, you can set a cooldown in
                    seconds.",cooldown if cooldown else 0)}}

                    <div class="well well-sm">
                        <strong>Tips: </strong> <i>{player}</i> refers to the player, <i>{level}</i> to his/her
                        level.<br/><br/>
                        <strong>Commands: !rank !levels</strong><br/><br/>
                        <strong>Leaderboard: </strong><a href="{{url_for('level.levels', server_id=server['id'])}}"
                                                         target="_blank">HERE</a> !
                    </div>
                    {{template.typeahead("banned_members","Banned Member",banned_members,guild_members,"banned_members","These member won't get <strong>xp</strong>.","username")}}
                    {{template.typeahead("banned_roles","Banned Role",banned_roles,guild_roles,"banned_roles","These roles won't get <strong>xp</strong>.")}}
                    {{template.typeahead("banned_channels","Banned Channels",banned_channels,guild_channels,"banned_channels","These channel that user speak won't get <strong>xp</strong>.")}}


                    <div class="well well-sm">
                        <strong>Picture of Table: </strong><a href="{{url_for('level.theme', server_id=server['id'])}}"
                                                         target="_blank">Instead of embeds for table commands, you can do custom picture right HERE</a>! I recommend update first before clicking it.
                    </div>

                    <h3>Roles Rewards</h3>
                    <div class="well well-sm">
                        <strong>Note:</strong> 0 mean no reward. Please make sure Nurevam have role that have manage role permission and above most of role (due to hierarchy)
                        Also, Nurevam are able to remove role(I think..).
                    </div>

                    {% for reward_roles_half in reward_roles %}
                    <div class="col-md-6">
                        {% for role in reward_roles_half if role.id != server.id %}
                            <label class="control-label" for="level_role_{{role.id}}"><h5
                                    style="font-weight: bold; color:#{{role.color}}">{{role.name}}</h5></label>
                            <input class="form-control" name="level_role_{{role.id}}" value="{{role.level or 0}}"
                                   type="text" id="level_role_{{role.id}}">
                        {%endfor%}
                    </div>
                    {%endfor%}
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
