{% extends 'dash_base.html' %}
{% block dash_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <center><h1>How it works</h1></center>
                <div class="panel panel-primary">
                <div class="panel-body">
                  Each time you post a message you get a <strong>random</strong> number of <strong>XP</strong> between 5 and 10.<br /><br />
                  <strong>To avoid flood, you can only gain xp once per minute.</strong><br /><br />
                  In the server, you can type <strong>!rank</strong> to get your rank and your level.
                </div>
              </div>
            </div>
            <div class="col-md-2">
                <h1>Stats</h1>
                <div class="panel panel-primary">
                <div class="panel-body">
                  Total Rank: {{stats['total_member']}} <br /><br/>
                  Total EXP: {{stats['total_exp']}}
                </div>
              </div>
            </div>
            <div class="col-md-12">
                <center><h1>Role Rewards</h1></center>
                <div class="panel panel-primary">
                <div class="panel-body">
                    {%if reward_roles%}
                        <div style="clear: both">
                            {% for role in reward_roles if role.id != server.id %}
                            <div class="col-md-5">
                            <h4 style="font-weight: bold; color:#{{role.color}}; float: left">{{role.name}}    </h4>
                            <h4 style="float: left;padding-right: 10px;">-Level:{{role.level}}</h4>
                                </div>
                            {%endfor%}
                        </div>
                    {%else%}
                    <h3>There are no role rewards!</h3>
                    {%endif%}
                </div>
                </div>
            </div>
            <div class="col-md-12">
                <h1>Leaderboard
                    {% if is_admin %}
                        <small><a class="btn btn-warning btn-xs reset-all" href="{{url_for('level.reset_all_players', server_id=server['id'])}}">RESET ALL</a></small>
                        {% if is_private %}
                            <small><a class="btn btn-warning btn-xs private" href="{{url_for('level.private_server', server_id=server['id'],bool=0)}}">Private from Leaderboard</a></small>
                        {% else %}
                            <small><a class="btn btn-primary btn-xs private" href="{{url_for('level.private_server', server_id=server['id'],bool=1)}}">Public from Leaderboard</a></small>
                        {% endif %}
                    {% endif %}
                </h1>
                <div class="list-group">
                {% for player in players %}
                <div class="list-group-item">
                  <div class="row">
                      <div class="col-md-1 col-sm-1 col-xs">
                          <h3><strong>#{{loop.index}}</strong></h3>
                      </div>
                      <div class="col-md-1 col-sm-1 hidden-xs">
                        {% if player['Avatar']!= None %}
                        <img src="https://discordapp.com/api/users/{{player['ID']}}/avatars/{{player['Avatar']}}.jpg" style="width:100%" class="img-circle">
                        {%else%}
                          <img src="{{url_for('static', filename='img/no_logo.png')}}" style="width:100%" class="img-circle">
                        {%endif%}
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-5">
                          <h3><a href="{{url_for('level.profile_level', player_id = player['ID'], server_id = server['id'])}}">{{player['Name']}}</a>  <small>#{{player['Discriminator']}}</small></h3>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-4">
                          <center><h5>{{player['XP']}} / {{player['Next_XP']}} <strong>XP</strong> [{{player['Total_XP']}} total]</h5></center>
                          <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-info" style="width: {{player['XP_Percent']}}%"></div>
                          </div>
                      </div>
                      <div class="col-md-2 col-sm-2 col-xs-2">
			      <h3>Level {{player['Level']}}
				      {% if is_admin %}
				<small><a class="reset" href="{{url_for('level.reset_player', player_id=player['ID'], server_id=server['id'])}}">reset</a></small>
				      {% endif %}
			      </h3>
                      </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>

        </div>
    </div>
<script>
 $('.reset').click(function(e) {
	 e.preventDefault();
	 var $link = $(this);
	 bootbox.confirm("Do you really want to reset this player's xp? He will lose his level :'(", function (confirmation) {
		 confirmation && document.location.assign($link.attr('href'));
	 });
 });
 $('.reset-all').click(function(e) {
	e.preventDefault();
	var $link = $(this);
	bootbox.confirm("Do you really want to reset EVERYONE's xp? EVERYONE will lose their levels :'(", function (confirmation) {
		confirmation && document.location.assign($link.attr('href'));
	});
});
 $('.private').click(function(e) {
	 e.preventDefault();
	 var $link = $(this);
	 bootbox.confirm("It will set either private or public, It is only for leaderboard for all across server.", function (confirmation) {
		 confirmation && document.location.assign($link.attr('href'));
	 });
 });
 </script>

{% endblock %}
