<!--
  _   _                                                         
 | \ | |                                                        
 |  \| |_   _ _ __ _____   ____ _ _ __ ___                      
 | . ` | | | | '__/ _ \ \ / / _` | '_ ` _ \                     
 | |\  | |_| | | |  __/\ V / (_| | | | | | |                    
 |_| \_|\__,_|_|__\___| \_/ \__,_|_| |_| |_|_   ____        _   
     /\     |  __ \(_)                     | | |  _ \      | |  
    /  \    | |  | |_ ___  ___ ___  _ __ __| | | |_) | ___ | |_ 
   / /\ \   | |  | | / __|/ __/ _ \| '__/ _` | |  _ < / _ \| __|
  / ____ \  | |__| | \__ \ (_| (_) | | | (_| | | |_) | (_) | |_ 
 /_/__  \_\ |_____/|_|___/\___\___/|_|  \__,_| |____/ \___/ \__|
 |  _ \        |  \/  |                                         
 | |_) |_   _  | \  / | __ ___   _____ _ __ _   _ _ __          
 |  _ <| | | | | |\/| |/ _` \ \ / / _ \ '__| | | | '_ \         
 | |_) | |_| | | |  | | (_| |\ V /  __/ |  | |_| | | | |        
 |____/ \__, | |_|  |_|\__,_| \_/ \___|_|   \__,_|_| |_|        
         __/ |                                                  
        |___/                                                   
-->
{% extends 'dash_base.html' %}
{% block dash_content %}
<div class="container">
    {% if is_owner %}
        {% if is_private %}
            <small><a class="btn btn-warning btn-xs private" href="{{url_for('level.private_profile', server_id=server['id'],player_id=player_id,bool=0)}}">Private</a></small>
        {% else %}
            <small><a class="btn btn-primary btn-xs private" href="{{url_for('level.private_profile', server_id=server['id'],player_id=player_id,bool=1)}}">Public</a></small>
        {% endif %}
    {% endif %}
    {% if is_private and not is_owner %}
    <h1>Sorry, This page have set as private!</h1>
    {% else %}
    <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        {% if icon ==None %}
                            <center><img src="{{url_for('static', filename='img/no_logo.png')}}" style="width:25%" class="img-circle"></center>
                        {%elif icon !=None %}
                            <center><img src="https://cdn.discordapp.com/avatars/{{player_id}}/{{icon}}.jpg" style="width:25%" class="img-circle"></center>
                        {%endif%}
                    <center><p style = "font-size:150%;">{{name}}</p></center>
                    </div>
                </div>
            </div>
        {% if level !=None %}
            <div class="col-md-5">
                <div class = "list-group">
                    <div class="list-group-item">
                        <h4>Level: {{level["Level"]}}</h4>
                        <h4>{{level["XP"]}}/{{level["Next_XP"]}}<strong>XP</strong> [{{level["Total_XP"]}} total] <center>{{level["Percents"]}}% </center></h4>
                          <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-info" style="width: {{XP_Percent}}%"></div>
                          </div>
                        <h4>Traits:{{level["Total_Traits_Points"]}}</h4>
                        <h4>Total Message:{{level["Total Message Count"]}}</h4>
                    </div>
                </div>
            </div>
            {%endif%}

            </div>
    </div>
    {% if data !=None %}
    <div class="container">
        <div class = "row">
            <div class="col-md-3">
                <h3>Command useds</h3>
                    <div class="list-group">
                        {% for info in data %}
                        <div class="list-group-item">
                            <h4>{{info}}</h4>
                        </div>
                        {% endfor %}
                    </div>
                </div>
        </div>
    </div>
    {%endif%}

<script>
 $('.private').click(function(e) {
	 e.preventDefault();
	 var $link = $(this);
	 bootbox.confirm("It will set either private or public, are you sure?", function (confirmation) {
		 confirmation && document.location.assign($link.attr('href'));
	 });
 });
</script>
{% endif %}
{% endblock %}

