<!--
  _   _                                                         
 | \ | |                                                        
 |  \| |_   _ _ __ _____   ____ _ _ __ ___                      
 | . ` | | | | '__/ _ \ \ / / _` | '_ ` _ \                     
 | |\  | |_| | | |  __/\ V / (_| | | | | | |                    
 |_| \_|\__,_|_|__\___| \_/ \__,_|_| |_| |_|_   ____        _   
     /\     |  __ \(_)                     | | |  _ \      | |  
    /  \    | |  | |_ ___  ___ ___  _ __ __| | | |_) | ___ | |_ 
   / /\ \   | |  | | / __|/ __/ _ \| '__/ _` | |  _ < / _ \| __|
  / ____ \  | |__| | \__ \ (_| (_) | | | (_| | | |_) | (_) | |_ 
 /_/__  \_\ |_____/|_|___/\___\___/|_|  \__,_| |____/ \___/ \__|
 |  _ \        |  \/  |                                         
 | |_) |_   _  | \  / | __ ___   _____ _ __ _   _ _ __          
 |  _ <| | | | | |\/| |/ _` \ \ / / _ \ '__| | | | '_ \         
 | |_) | |_| | | |  | | (_| |\ V /  __/ |  | |_| | | | |        
 |____/ \__, | |_|  |_|\__,_| \_/ \___|_|   \__,_|_| |_|        
         __/ |                                                  
        |___/                                                   
-->
{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h1>Server Leaderboard</h1>
                <div class="list-group">
                {% for server in server_list %}
                <div class="list-group-item">
                  <div class="row">
                      <div class="col-md-1 col-sm-1 col-xs-1">
                          <h3><strong>#{{loop.index}}</strong></h3>
                      </div>
                      <div class="col-md-1 col-sm-1 hidden-xs" style="padding:0">
                        {% if server[1]!=None %}
                        <img src="https://cdn.discordapp.com/icons/{{server[2]}}/{{server[1]}}.jpg" style="width:100%" class="img-circle">
                        {%else%}
                        <img src="{{url_for('static', filename='img/no_logo.png')}}" style="width:100%" class="img-circle">
                        {%endif%}
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-5">
                          <h3><a href="{{url_for('level.levels', server_id=server[2])}}">{{server[0]}}</a></h3>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-4">
                          <center><h5>{{server[3]}} / {{server[4]}} <strong>XP</strong></h5></center>
                          <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-info" style="width: {{server[5]}}%"></div>
                          </div>
                      </div>
                      <div class="col-md-2 col-sm-2 col-xs-2">
			      <h3>Level {{server[6]}}</h3>
                      </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>

        </div>
    </div>


{% endblock %}
