<!--
  _   _                                                         
 | \ | |                                                        
 |  \| |_   _ _ __ _____   ____ _ _ __ ___                      
 | . ` | | | | '__/ _ \ \ / / _` | '_ ` _ \                     
 | |\  | |_| | | |  __/\ V / (_| | | | | | |                    
 |_| \_|\__,_|_|__\___| \_/ \__,_|_| |_| |_|_   ____        _   
     /\     |  __ \(_)                     | | |  _ \      | |  
    /  \    | |  | |_ ___  ___ ___  _ __ __| | | |_) | ___ | |_ 
   / /\ \   | |  | | / __|/ __/ _ \| '__/ _` | |  _ < / _ \| __|
  / ____ \  | |__| | \__ \ (_| (_) | | | (_| | | |_) | (_) | |_ 
 /_/__  \_\ |_____/|_|___/\___\___/|_|  \__,_| |____/ \___/ \__|
 |  _ \        |  \/  |                                         
 | |_) |_   _  | \  / | __ ___   _____ _ __ _   _ _ __          
 |  _ <| | | | | |\/| |/ _` \ \ / / _ \ '__| | | | '_ \         
 | |_) | |_| | | |  | | (_| |\ V /  __/ |  | |_| | | | |        
 |____/ \__, | |_|  |_|\__,_| \_/ \___|_|   \__,_|_| |_|        
         __/ |                                                  
        |___/                                                   
-->
{% extends 'dash_base.html' %}
{% block dash_content %}
<div class="container">
    <div class="row">
        {% include 'sidebar.html' %}
        {% set csrf = csrf_token() %}
        <div class="col-md-8">
            {% include 'flash.html' %}
            <form id="theme" method="POST" action="{{url_for('level.update_theme', server_id=server['id'])}}">
                <input name=_csrf_token type=hidden value="{{ csrf }}">
                <div class="checkbox">
                        <label>
                            <input type="checkbox" name="enable" {% if enable =="on" %} checked {% endif %}>
                            Enable picture theme
                        </label>
                </div>
                {{template.text_box("pic_link","Picture Link","Link given, if it is just a empty box, then background will be default.",pic)}}
                <div class="checkbox">
                        <label>
                            <input type="checkbox" name="border" {% if setting["border"] =="on" %} checked {% endif %}> Enable Border
                        </label>
                        <label>
                            <input type="checkbox" name="row" {% if setting["row"]=="on" %} checked {% endif %}> Enable Row/Column
                        </label>
                        <label>
                            <input type="checkbox" name="outlier" {% if setting["outlier"]=="on" %} checked {% endif %}> Text Outline
                        </label>
                        <label>
                            <input type="checkbox" name="blur" {% if setting["blur"]=="on" %} checked {% endif %}> Enable blur background(picture require)
                        </label>

                </div>

            <div class="well well-sm">
                Custom color setting, enter RGB/RGBA format(e.g 255,255,255 )
            </div>

                {{template.text_box("col_border","Border color","",color.get("border","255,255,255,96"))}}
                {{template.text_box("col_row","Row/Column color","",color.get("row","255,255,255,48"))}}
                {{template.text_box("col_outlier","Text outlier color","",color.get("outlier","255,255,255"))}}
                {{template.text_box("col_text","Text color","",color.get("text","0,0,0"))}}

            <img src="data:image/png;base64,{{ pic_show }}" alt="Ehum something went wrong..."/>
            <div class="well well-sm">
                Please note this, This is just an example picture, size will be vary depends on name and other info. To have a best look, please active command in discord, where it will actually display name, level etc.
            </div>

            <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>

    </div>
</div>
{%endblock%}
