{% extends 'full-page.html' %}
{% block content %}

<div class="jumbotron home-jumbotron">
<div class="container">
    <div class="row">
            {% set csrf = csrf_token() %}
            {% include 'flash.html' %}

            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-body">
                            {% if user["avatar"] !=None %}
                                <center><img src="https://cdn.discordapp.com/avatars/{{user["ID"]}}/{{user["Avatar"]}}.jpg" style="width:100%" class="img-circle"></center>
                            {% else %}
                                <center><img src="{{url_for('static', filename='img/no_logo.png')}}" style="width:100%" class="img-circle"></center>
                            {%endif%}
                        <center><p style = "font-size:150%;">{{user["username"]}}<sup>#{{user["discriminator"]}}</sup></p></center>
                    </div>
                </div>
            </div>
        </div>
    <div class ="row">
        <div class="col-md-8">
            <a href='https://anilist.co/api/v2/oauth/authorize?client_id={{anilist_cleint_id}}&redirect_uri={{anilist_redirect}}&response_type=code'>Login with AniList</a>
        </div>
        </div>
    <div class ="row">
        <div class="col-md-8">
            <form id="profile" method="POST" action="{{url_for('profile.update_profile')}}">
                <div class="form-group">
                    <input name=_csrf_token type=hidden value="{{ csrf }}">
                    <label class="control-label" for="osu">OSU username</label>
                    <input class="form-control input-lg" name="osu" value="{{setting["osu"]}}" type="text"
                           id="osu">
                </div>
            </div>
        </div>
    <button type="submit" class="btn btn-primary">Update</button>
    </div>
</div>



{% endblock %}


