<!--
  _   _                                                         
 | \ | |                                                        
 |  \| |_   _ _ __ _____   ____ _ _ __ ___                      
 | . ` | | | | '__/ _ \ \ / / _` | '_ ` _ \                     
 | |\  | |_| | | |  __/\ V / (_| | | | | | |                    
 |_| \_|\__,_|_|__\___| \_/ \__,_|_| |_| |_|_   ____        _   
     /\     |  __ \(_)                     | | |  _ \      | |  
    /  \    | |  | |_ ___  ___ ___  _ __ __| | | |_) | ___ | |_ 
   / /\ \   | |  | | / __|/ __/ _ \| '__/ _` | |  _ < / _ \| __|
  / ____ \  | |__| | \__ \ (_| (_) | | | (_| | | |_) | (_) | |_ 
 /_/__  \_\ |_____/|_|___/\___\___/|_|  \__,_| |____/ \___/ \__|
 |  _ \        |  \/  |                                         
 | |_) |_   _  | \  / | __ ___   _____ _ __ _   _ _ __          
 |  _ <| | | | | |\/| |/ _` \ \ / / _ \ '__| | | | '_ \         
 | |_) | |_| | | |  | | (_| |\ V /  __/ |  | |_| | | | |        
 |____/ \__, | |_|  |_|\__,_| \_/ \___|_|   \__,_|_| |_|        
         __/ |                                                  
        |___/                                                   
-->
{% extends 'dash_base.html' %}
{% block dash_content %}
<div class="container">
    <div class="row">
        {% include 'sidebar.html' %}
        {% set csrf = csrf_token() %}
        <div class="col-md-8">
            <h3>Custom Commands <a href="?disable=1" class="btn btn-warning btn-xs">Disable</a></h3>
            {% include 'flash.html' %}
            <form id="customcmd" method="POST" action="{{url_for('customcmd.update_customcmd', server_id=server['id'])}}">
                <div class="form-group">
                    <input name=_csrf_token type=hidden value="{{ csrf }}">
                    <div class="well well-sm">
                        People who have the right to make command can access <a href={{url_for('customcmd.customcmd', server_id=server['id'],cog="customcmd")}}>here</a>, I recommend bookmarking it so you can get there faster (Share link with creator role!)
                    </div>


                    <h3>Creator role</h3>
                    <div class="well well-sm">
                        <strong>Note:</strong> 0 means person who have this role can't create command, Other than that, above 0 will allow user who have that role can create x commands
                        For now, {{limit}} is max for each person,(so meaning role will not add up total! keep that in mind), if wish to increase more than 10, complain to owner.
                        If user have multi role, user will get max use from role that is higher than other
                    </div>

                    {% for roles_half in role_max %}
                    <div class="col-md-6">
                        {% for role in roles_half if role.id != server.id %}
                            <label class="control-label" for="req_role_{{role.id}}"><h5
                                    style="font-weight: bold; color:#{{role.color}}">{{role.name}}</h5></label>
                            <input class="form-control" name="req_role_{{role.id}}" value="{{role.max or 0}}"
                                   type="text" id="req_role_{{role.id}}">
                        {%endfor%}
                    </div>
                    {%endfor%}



                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
{% endblock %}
