{% extends 'dash_base.html' %}
{% block dash_content %}
<div class="container">
    <div class="row">
        {% include 'sidebar.html' %}
        {% set csrf = csrf_token() %}
        <div class="col-md-8">
            <h3>Welcome <a href="?disable=1" class="btn btn-warning btn-xs">Disable</a></h3>
            {% include 'flash.html' %}
            <form id="welcome" method="POST" action="{{url_for('welcome.update_welcome', server_id=server['id'])}}">
                <input name=_csrf_token type=hidden value="{{ csrf }}">
                <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="enable_message" {% if config["enable_message"] =="on" %} checked {% endif %}>
                        If it enable, allow to send welcome message, other wise, disable it, Some server just want a assign role.
                    </label>
                </div>
                    {{ template.text_box("message","A Welcome message to newcomer!","<strong>Super Pro Tips:</strong> <strong>{user}</strong> is refer to new member's name,if you want a
                        mention use <strong>
                        {user_mention}</strong>, <strong><{server}</strong> is server name of your.",message)}}
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="enable_delete" {% if config["enable_delete"] =="on" %} checked {% endif %}>
                        Allow to time to delete message, otherwise, ignore below this.
                    </label>
                </div>
                    {{ template.text_box("delete_msg","Custom time second to delete message","Given time to make bot delete message. Recommend not to this if you set Whisper Options.",delete_msg)}}

                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="whisper" {% if config["whisper"] =="on" %} checked {% endif %}>
                        Whisper Only, If you want Nurevam send welcome message by whisper new member instead of public
                        server.
                        If check, ignore below
                    </label>
                </div>
                {{ template.channel_list("channel","Welcome channel",guild_channel,"Note,make sure Nurevam are able to speak on that channel!",welcome_channel)}}
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="role" {% if config["role"] =="on" %} checked {% endif %}>
                        Assign a role. Allow to assign a role to member when they join server auto. If enable, it will start assign role when member join, otherwise, ignore below this.
                    </label>
                </div>
                    {{template.typeahead("assign_role","Assign Role",assign_role,guild_roles,"assign_role","Role that can assign a member. Multiple role work as well.")}}
                    <br/>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
{% endblock %}
