{% extends 'full-page.html' %}
{% block content %}
<div class="jumbotron home-jumbotron">
  <div class="container">
    <div class="row">
        <div class="col-md-6 animated bounceInLeft v-align">
            {% import 'macros/plugin.html' as plugin %}
            <h3>Star Features</h3>
            <div class="list-group" style="color:#00bc8c; opacity:1.0;">
                <div class="list-group-item">
                    {% for key in content %}
                     <h2 class="list-group-item-heading">{{key[0]}}</h2>
                        <p class="list-group-item-text">{{key[1]}}</p>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div><!--
    --><div class="col-md-6 text-center animated bounceInRight v-align">
            <h2>Creator?</h2>
		<img src="{{url_for('static', filename='img/Maverun.jpg')}}" class="img-circle"><br />
            <p>Maverun </p>
            <h2>Contributors</h2>
            <div class="row">
                <div class="col-md-6">
                    <img src="{{url_for('static', filename='img/cookie.jpg')}}" class="img-circle" class="img-circle"><br />
                    <p><strong>Cookie</strong></p>
                    <p>The orignal creator of Mee6. Nurevam was based of his bot. </p>
                </div>
                <div class="col-md-6">
            		<img src="https://discordapp.com/api/users/100372828628463616/avatars/11c1bb7eb0b0807397885b2bfcf7f293.jpg" class="img-circle"><br />
		            <p><strong>Senpaimass</strong></P>
                    <p>Help me to set up the server, does some testing for me and allow me to test my bot on his server.</p>
	            </div>
	        </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
