<!--
  _   _                                                         
 | \ | |                                                        
 |  \| |_   _ _ __ _____   ____ _ _ __ ___                      
 | . ` | | | | '__/ _ \ \ / / _` | '_ ` _ \                     
 | |\  | |_| | | |  __/\ V / (_| | | | | | |                    
 |_| \_|\__,_|_|__\___| \_/ \__,_|_| |_| |_|_   ____        _   
     /\     |  __ \(_)                     | | |  _ \      | |  
    /  \    | |  | |_ ___  ___ ___  _ __ __| | | |_) | ___ | |_ 
   / /\ \   | |  | | / __|/ __/ _ \| '__/ _` | |  _ < / _ \| __|
  / ____ \  | |__| | \__ \ (_| (_) | | | (_| | | |_) | (_) | |_ 
 /_/__  \_\ |_____/|_|___/\___\___/|_|  \__,_| |____/ \___/ \__|
 |  _ \        |  \/  |                                         
 | |_) |_   _  | \  / | __ ___   _____ _ __ _   _ _ __          
 |  _ <| | | | | |\/| |/ _` \ \ / / _ \ '__| | | | '_ \         
 | |_) | |_| | | |  | | (_| |\ V /  __/ |  | |_| | | | |        
 |____/ \__, | |_|  |_|\__,_| \_/ \___|_|   \__,_|_| |_|        
         __/ |                                                  
        |___/                                                   
-->
{% extends 'full-page.html' %}
{% block content %}
<div class="jumbotron home-jumbotron">
  <div class="container">
    <div class="row">
        <div class="col-md-6 animated bounceInLeft v-align">
            <h3>Star Features</h3>
            <div class="list-group" style="color:#00bc8c; opacity:1.0;">
                <div class="list-group-item">
                    {% for cog in plugin_list %}
                    <h2 class="list-group-item-heading">{{cog[0]}}</h2>
                        <p class="list-group-item-text">{{cog[1]|safe}}</p>
                     <hr>
                    {% endfor %}
                </div>
            </div>
        </div><!--
    --><div class="col-md-6 text-center animated bounceInRight v-align">
            <h2>Creator?</h2>
		<img src="{{url_for('static', filename='img/Maverun.jpg')}}" class="img-circle"><br />
            <p>Maverun </p>
            <h2>Contributors</h2>
            <div class="row">
                <div class="col-md-6">
                    <img src="{{url_for('static', filename='img/cookie.jpg')}}" class="img-circle" class="img-circle"><br />
                    <p><strong>Cookie</strong></p>
                    <p>The orignal creator of Mee6. Nurevam was inspired by his bot/website. Receive his permission for webs used.. </p>
                </div>
	        </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
