{% extends 'full-page.html' %}
{% block content %}
<div class="jumbotron home-jumbotron">
    <div class="container">
        <div class="row">
            {% set csrf = csrf_token() %}
            <form id="add_form" method="post" action="{{url_for('add_memes', server_id=server_id) }}">
                {% include 'flash.html' %}
                <h2>Memes add</h2>
                    <div class="well well-sm">
                        <h6>Provide a name and link for a custom memes. Nurevam do not store picture, so you will need to host images somewhere such as <a href="https://imgur.com">imgur</a></h6></h6>
                        <h6>If you are gonna provide a picture with white background, you are gonna have a bad time...</h6>
                        <h6><b>Note</b>: Depends on size of the picture, how long message are, those may mess up memes around.</h6>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input name=_csrf_token type=hidden value="{{ csrf }}">
                            <label class="control-label" for="meme_name">Name</label>
                            <input class="form-control input-lg" name="meme_name" value=""
                            type="text"
                            id="meme_name">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input name=_csrf_token type=hidden value="{{ csrf }}">
                            <label class="control-label" for="meme_link">Link</label>
                            <input class="form-control input-lg" name="meme_link" value=""
                            type="text"
                            id="meme_link">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a href="#" id="add" class="btn btn-success btn-lg" style = "margin-bottom: -96px;"><i class="fa fa-pencil"></i> Add</a>
                    </div>
            </form>
        </div>
        <hr>
        {% if data_memes %}
        <h2>Edit Memes</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="list-group">
                    {% for memes in data_memes %}
                    <form id="edit_form" method="post" action="{{url_for('update_memes', server_id=server_id, name = memes) }}">
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input name=_csrf_token type=hidden value="{{ csrf }}">
                                    <label class="control-label" for="meme_name">Name</label>
                                    <input class="form-control input-lg" name="meme_name" value="{{memes}}"
                                    type="text"
                                    id="{{memes}}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input name=_csrf_token type=hidden value="{{ csrf }}">
                                    <label class="control-label" for="meme_link">Link</label>
                                    <input class="form-control input-lg" name="meme_link" value="{{data_memes[memes]}}"
                                    type="text"
                                    id="{{data_memes[memes]}}">
                                </div>
                            </div>
                            <div class="col-md-2">
                                    <a href="#" id="edit" class="btn btn-success btn"><i class="fa fa-pencil"></i> Update</a>
                                    <a href="{{url_for('delete_memes', server_id=server_id, name = memes)}}"
                                       class="btn btn-danger btn" style="margin-top: 10px;padding-right: 20px;" ><i class="fa fa-trash"></i> Delete </a>
                            </div>
                        </div>
                    </div>
                        </form>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<script>
    $('#add').click(function(){
        $('#add_form').submit();
    })
    $('#edit').click(function(){
        $('#edit_form').submit();
    })
</script>

{% endblock %}
