{% import 'macros/plugin.html' as plugin %}
<h3>Plugins</h3>
<div class="list-group">
    {{ plugin.view(
    'myanimelist',
    pretty_name='Anime and Manga',
    view='plugin_myanimelist',
    description='Search the web for your favorite anime and manga.',
    server=server,
    enabled_plugins=enabled_plugins
    )}}
    {{plugin.view(
    'channel',
    pretty_name="Channel",
    view='plugin_channel',
    description='A Temporary Channel for time limit! Allow user create serect room with friend to talk thing!',
    server=server,
    enabled_plugins=enabled_plugins
    )}}
    {{plugin.view(
    'discourse',
    pretty_name="Discourse",
    view='plugin_discourse',
    description='A Discourse forum! Allow Nurevam check if there is new post, if there is, it will post it out!',
    server=server,
    enabled_plugins=enabled_plugins
    )}}
    {{ plugin.view(
    'level',
    pretty_name="Levels",
    view='plugin_levels',
    description='Let your members gain <strong>XP</strong> and <strong>levels</strong> by participating in the chat !',
    server=server,
    enabled_plugins=enabled_plugins
    )}}
    {{plugin.view(
    'log',
    pretty_name="Log",
    view='plugin_log',
    description='Allow bot give you a log of what happen, edit,delete etc on channel.',
    server=server,
    enabled_plugins=enabled_plugins
    )}}
    {{plugin.view(
    'mod',
    pretty_name="Mod",
    view='plugin_mod',
    description='A simple mod command,allow to clean message! Be it itself,role,person or all!',
    server=server,
    enabled_plugins=enabled_plugins
    )}}
    {{plugin.view(
    'welcome',
    pretty_name="Welcome",
    view='plugin_welcome',
    description='Send a welcome/greet message to newcomer who just join your server!',
    server=server,
    enabled_plugins=enabled_plugins
    )}}
    {{plugin.view(
    'weather',
    pretty_name="Weather",
    view='plugin_weather',
    description='Allow bot to tell you about stats in city you ask for.',
    server=server,
    enabled_plugins=enabled_plugins
    )}}

</div>
