{% import 'macros/plugin.html' as plugin %}
<h3>Plugins</h3>
<div class="list-group">
    {{ plugin.view(
    'anime',
    pretty_name='Anime and Manga',
    view='plugin_anime',
    description='Search the web for your favorite anime and manga.',
    server=server,
    enabled_plugins=enabled_plugins
    )}}
    {{plugin.view(
    'discourse',
    pretty_name="Discourse",
    view='plugin_discourse',
    description='A Discourse forum! Allow Nurevam check if there is new post, if there is, it will post it out!',
    server=server,
    enabled_plugins=enabled_plugins
    )}}
    {{ plugin.view(
    'level',
    pretty_name="Levels",
    view='plugin_levels',
    description='Let your members gain <strong>XP</strong> and <strong>levels</strong> by participating in the chat !',
    server=server,
    enabled_plugins=enabled_plugins
    )}}
    {{plugin.view(
    'welcome',
    pretty_name="Welcome",
    view='plugin_welcome',
    description='Send a welcome/greet message to newcomer who just join your server!',
    server=server,
    enabled_plugins=enabled_plugins
    )}}
</div>
