{% extends 'dash_base.html' %}
{% block dash_content %}
<div class="container">
    <div class="row">
        {% include 'sidebar.html' %}
        {% set csrf = csrf_token() %}
        <div class="col-md-8">
            <h3>Welcome <a href="?disable=1" class="btn btn-warning btn-xs">Disable</a></h3>
            {% include 'flash.html' %}
            <form id="welcome" method="POST" action="{{url_for('update_welcome', server_id=server['id'])}}">
                <div class="form-group">
                    <input name=_csrf_token type=hidden value="{{ csrf }}">
                    <label class="control-label" for="message">A Welcome message to newcomer!</label>
                    <input class="form-control input-lg" name="message" value="{{message}}" type="text" id="message">
                </div>
                <div class="well well-sm">
                    <strong>Super Pro Tips:</strong> <strong>{user}</strong> is refer to new member's name,if you want a
                    mention use <strong>
                    {user_mention}</strong>, <strong><{server}</strong> is server name of your.
                </div>
                <div class="form-group">
                    <input name=_csrf_token type=hidden value="{{ csrf }}">
                    <label class="control-label" for="delete_msg">Custom time to delete message</label>
                    <input class="form-control input-lg" name="delete_msg" value="{{delete_msg}}" type="text" id="delete_msg">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="whisper" {% if config["whisper"] =="on" %} checked {% endif %}>
                        Whisper Only, If you want Nurevam send welcome message by whisper new member instead of public server.
                        If check, ignore below
                    </label>
                </div>
                <div>
                    <label class="control-label" for="channel_name">Welcome channel</label>
                    <select class="input-lg form-control" name="channel">
                        {% for channel in guild_channel %}
                        <option value="{{channel.id}}" {%if channel.id== welcome_channel%} selected{%endif%}>
                            #{{channel.name}}
                        </option>
                        {% endfor %}
                    </select>

                    <div class="well well-sm">
                        Note,make sure Nurevam are able to speak on that channel!
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
