{% set csrf = csrf_token() %}

{% macro text_box(html_name,name,description = "",data = "") %}

<div class="form-group">
    <input name=_csrf_token type=hidden value="{{ csrf }}">
    <label class="control-label" for="{{html_name}}">{{name|safe}}</label>
    <input class="form-control input-lg" name="{{html_name}}" value="{{data}}" type="text" id="{{html_name}}">
</div>
{% if description != ""%}
    <div class="well well-sm">
        {{description|safe}}
    </div>
{%endif%}

{% endmacro %}

{% macro typeahead(html_name,name,data_list,guild_data,var_key,description = "",key_name = "name") %}

                    <label class="control-label" for="{{html_name}}">{{name}}</label>
                    <input type="text" data-member="tagsinput" name="{{html_name}}" class="{{html_name}}"/><br/>
                        <div class="well well-sm">
                            {% if description != ""%}
                                {{description|safe}}
                            {% else %}

                            {%endif%}
                        </div>
                    <script>
				$(function() {
				//var_key is like a function reference to
				//html_name is what u can do to request.get()
				//{{key_name}} is like key name in dict.
				var {{var_key}} = new Bloodhound({
                                    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('{{key_name}}'),
                                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                                    local: {{guild_data|tojson|safe}}
                                });
                                {{var_key}}.initialize();
                                var elt = $('.{{html_name}}');
                                elt.tagsinput({
                                    itemValue: 'id',
                                    itemText: '{{key_name}}',
                                    typeaheadjs: {
                                        name: '{{var_key}}',
                                        displayKey: '{{key_name}}',
                                        source: {{var_key}}.ttAdapter()
                                    }
                                });
                                {% for data in data_list %}
                                    elt.tagsinput('add', {{data|tojson|safe}});
                                {% endfor %}
				});


                    </script>


{% endmacro %}


{% macro channel_list(html_name,title,guild_channel,description = "",data = "") %}

{% if description != ""%}
<div>
    <label class="control-label" for="{{html_name}}">{{title|safe}}</label>
    <select class="input-lg form-control" name="{{html_name}}">
        {% for channel in guild_channel %}
        <option value="{{channel.id}}" {%if channel.id==data%} selected{%endif%}>
            #{{channel.name}}
        </option>
        {% endfor %}
    </select>
    <div class="well well-sm">
        {{description|safe}}
    </div>
</div>

{%endif%}

{% endmacro %}

{% macro select_list(html_name,title,data_list,description = "",data = "") %}

{% if description != ""%}
<div>
    <label class="control-label" for="{{html_name}}">{{title|safe}}</label>
    <select class="input-lg form-control" name="{{html_name}}">
        {% for entry in data_list %}
        <option value="{{entry.id}}" {%if entry.id ==data%} selected{%endif%}>
            {{entry.name}}
        </option>
        {% endfor %}
    </select>
    {% if description != ""%}
        <div class="well well-sm">
            {{description|safe}}
        </div>
    {%endif%}

</div>

{%endif%}

{% endmacro %}
