<h3>Welcome!</h3>
<div class="list-group">
  <div class="list-group-item">
    <h4 class="list-group-item-heading">
        <img src="{{session['user']['avatar']}}" class="profile-image img-circle"> {{session['user']['username']}} <small>#{{session['user']['discriminator']}}</small></h4>
    <p>
    Here you'll be able to enable/disable plugins and change the bot config.<br><br>
    Try out the <strong>Levels</strong> plugin, it's said to be awesome :o !<br><br>
    Anyone who has <strong>server management permissions</strong> in your <strong>server</strong> can access this dashboard.
    </p>
  </div>

</div>
